header{
    height: 80px;
    background: #000;
}
.container{
    margin: 0 auto;
    max-width: 1160px;
}
.logo{
    display: block;
    width: 82px;
    height: 52px;
    margin-right: 29px;
    background: url("../images/logo.svg") no-repeat;
}
.menu{
    display: flex;
}
.menu_container{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.menu_wrapper{
    display: flex;
    align-items: center;
}
.menu_item{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    text-decoration: none;
    margin: 0 29px;
}
.menu_item:hover{
    color: #F9804B;
}
.copyright{
    color: #fff;
    font-size: 16px;
    line-height: 140%;
}
.slider{
    height: 780px;
    background: url("../images/Giant_Panda.png") no-repeat center/cover;
    position: relative;
}
h1{
    font-family: "Roboto Bold", sans-serif;
    font-size: 106px;
    line-height: 75%;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
}
h1 span{
    color: #FFEE2E;
}
.text_block{
    position: relative;
    width: 500px;
    padding-top: 86px;
    text-align: center;
    margin: 0 0 0 auto;
    z-index: 2;
}
.slider .container{
    position: relative;
}
.slider .container::after{
    content: '';
    display: block;
    position: absolute;
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    top: 12px;
    right: 108px;
}
.button{
    display: block;
    border-radius: 25px;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: #fff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 54px;
    margin: 0 auto;
}
.button:hover {
    background: #E47209;
}
.button:active{
    background: #4B9200;
}
.backstage_block{
    margin-top: 140px;
    margin-bottom: 180px;
}
.backstage_container{
    display: flex;
}
.backstage_img{
    width: 609px;
    height: 403px;
    background: url("../images/bamboo-cap.png") no-repeat center/cover;
    flex-shrink: 0;
}
.backstage_text{
    margin-left: 87px;
}
h2{
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
}
.backstage_text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%
}
.backstage_text h3{
    margin-top: 54px;
    margin-bottom: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}
.pet_item{
    width: 366px;
    text-decoration: none;
    border: 1px solid #FA6F32;
    border-radius: 5px;
    display: block;
    position: relative;
    margin-bottom: 20px;
}
.pet_name{
    font-family: 'Roboto Bold', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-top: 8px;
    margin-left: 16px;
}
.pet_place{
    font-family: 'Roboto Thin', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 120%;
    margin-bottom: 14px;
    margin-left: 16px;
}
.food{
    position: absolute;
    width: 33px;
    height: 37px;
    right: 13px;
    bottom: 13px;
}
.food--banana{
    background: url("../images/banana-bamboo_icon.svg") no-repeat;
}
.food--meat{
    background: url("../images/meet-fish_icon.svg") no-repeat;
    width: 48px;
    height: 38px;
    right: 8px;
    bottom: 14px;
}
.pets_container{
    position: relative;
    padding-bottom: 100px;
}
.pets_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}
.slider_nav_buttons_container{
    display: flex;
    position: relative;
    justify-content: space-between;
    top: -510px;
    padding-left: calc(50% - 662px);
    padding-right: calc(50% - 662px);
}
.slider_nav_button {
    width: 62px;
    height: 62px;
    display: block;
    border-radius: 50%;

}
.slider_nav_button.prev{
    background: #F9804B url("../images/arrow_left.svg") no-repeat center;
}
.slider_nav_button.next{
    background: #F9804B url("../images/arrow_right.svg") no-repeat center;
}
.slider_nav_button:hover{
    background-color: #4B9200;
}
.button_choose{
    text-align: center;
}
.pick_block{
    padding-top: 69px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}
.pick_box{
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 40px 99px 59px 99px;
}
.pick_header{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 30px;
    color: #FE9013;
}
.pick_guide{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 120%;
    color: #333B41;
}
.pick_text_bold{
    font-family: 'Roboto Bold', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    margin-bottom: 10px;
    margin-top: 0;
}
.pick_text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    margin-bottom: 60px;
}
.pick_text a {
    color: #333B41;
    border-bottom: 1px solid #FE9013;
    text-decoration: none;
}
.pick_text a:hover{
    color: #333B41;
}
.pick_question{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 40px;
}
.stages_block{
    margin-bottom: 60px;

}